/* Achievment.css */

#Achievment {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
}

.Achievment__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 2rem;
  padding: 40px; /* Slightly decreased padding */
  text-align: left;
  transition: var(--transition);
  max-width: 900px; /* Decreased maximum width for the card */
  width: 85%; /* Slightly decreased width of the card */
  margin: 40px auto; /* Slightly decreased margin */
  box-sizing: border-box;
  display: flex;
}

.Achievment__card:hover {
  background: transparent;
  background-origin: transparent;
  border-color: var(--color-bg-variant);
}

.achievements-column,
.coding-profiles-column {
  flex: 1;
  padding: 0 20px; /* Slightly decreased padding between columns */
}

.edutext {
  display: flex;
  flex-direction: column;
  gap: 30px; /* Slightly decreased gap between content */
}

.edutext h3 {
  display: flex;
  align-items: center;
  gap: 15px; /* Slightly decreased gap */
  font-size: 24px; /* Slightly decreased font size */
}

.edutext small {
  font-size: 18px; /* Slightly decreased font size */
  color: var(--color-text-light);
}

.Education__details-icons {
  font-size: 32px; /* Slightly decreased font size */
}

.one__portion {
  text-align: center;
}
