/* Achievment.css */

#Achievment {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
}


.Achievment__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 2rem;
  padding-right: 2rem; /* Slightly decreased padding */
  text-align: left;
  transition: var(--transition);
  max-width: 900px; /* Decreased maximum width for the card */
  width: 85%; /* Slightly decreased width of the card */
  margin: 40px auto; /* Slightly decreased margin */
  box-sizing: border-box;
  display: flex;
  padding:2rem;
}
#white{
  color: white;
 padding-left: 20rem;
}

.Achievment__card:hover {
  background: transparent;
  background-origin: transparent;
  border-color: var(--color-bg-variant);
}

.achtext {
  display: flex;
  flex-direction: column;
  gap: 30px; /* Slightly decreased gap between content */
}



.achtext h3 {
  display: flex;
  align-items: center;
  gap: 15px; /* Slightly decreased gap */
  font-size: 24px; /* Slightly decreased font size */
  text-align: center;
  color: var(--color-primary);
  word-break: break;
  overflow: break-word;
  
}


.text-light{
  font-size: 18px; /* Slightly decreased font size */
  color: var(--color-primary);
}

.Achievment__details-icons {
  font-size: 32px; /* Slightly decreased font size */
}



/* Achievment.css */

/* Existing styles... */

@media (max-width: 480px) {
  #Achievment {
    height: auto; /* Adjust the height for small screens */
  }

  .Achievment__card {
    padding: 2rem; /* Adjusted padding for small screens */
    /* Center the content for small screens */
    flex-direction: column; /* Stack columns vertically for small screens */
    max-width: 100%; /* Full width for small screens */
    margin: 20px auto; /* Adjusted margin for small screens */
  }

  .Achievment__card {
    /* Existing styles... */
    text-align: center; /* Center align the content inside the card */
  }

  #white {
    /* Existing styles... */
    padding-left: 0; /* Remove the padding on the left for center alignment */
    text-align: center; /* Center align the text inside the #white element */
    padding-left: 4rem;
  }

  .achtext h3 {
    font-size: 20px; /* Adjusted font size for small screens */
  }

  .achtext h4 {
    word-break: break-word;
    overflow-wrap: break-word; /* Use overflow-wrap instead of overflow for word wrap */
  }

  .Achievment__details-icons {
    font-size: 28px; /* Adjusted font size for small screens */
  }
}


/* Achievment.css */

/* Existing styles... */

@media (max-width: 768px) {
  #white {
    /* Existing styles... */
    padding-left: 0; /* Remove the padding on the left for center alignment */
    text-align: center; /* Center align the text inside the #white element */
    padding-left: 4rem;
  }
}

