nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);

  }
  
  nav a {
    background-color: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
  }
  
  nav a:hover {
    background: rgba(0, 0, 0, 0.3);
    color: var(--color-white);
  }
  
  /* Media Queries */
  /* Small and Medium devices */
  @media screen and (max-width: 1024px) {
    nav {
      padding: 0.5rem 1.2rem; /* Adjust padding for smaller screens */
      bottom: 1rem; /* Adjust the position from the bottom */
    }
  
    nav a {
      padding: 0.8rem; /* Adjust padding for smaller screens */
      font-size: 1rem; /* Adjust font size for smaller screens */
    }
  }
  
  /* Small devices */
  @media screen and (max-width: 600px) {
    nav {
      gap: 0.5rem;
      bottom: 0.7rem;
      display: flex;
      /* Stack the links vertically */
      align-items: center; /* Center items horizontally */
    
    }
  
    nav a {
      padding: 0.7rem;
      font-size: 0.9rem;
    }
  }
  
  